<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask WebSocket Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/logic.js"></script>



</head>
<body>
    <div class="cursor-position">
        <div id="myPosition">Your cursor: (0, 0)</div>
    </div>
    <button type="button" onClick="onClick()">Click me</button>
    <p>Clicks: <a id="clicks">0</a></p>
    <h2>Flask WebSocket Chat</h2>
    <input id="msg" type="text" placeholder="Enter your message">
    <button onclick="sendMessage()">Send</button>
    <div id="messages"></div>
</body>
</html>